# Fichiers compilés
bin/
*.class

# Base de données SQLite
*.db
*.sqlite
*.sqlite3

# Fichiers IDE
.idea/
*.iml
.vscode/
*.swp
*.swo

# Fichiers système
.DS_Store
Thumbs.db

# Logs
*.log
























